<div class="m-3 row d-flex justify-content-center">
  <div class="col-md-6">
    <div class="w-100 timeMagin">
      <div class="row">
        <h3 style="text-align: center;">Doctor List</h3>
      </div>
      <div class="row">
        <div class="table-responsive-md">
          <table class="table table-striped">
            <tr>
              <th scope="col">Doctor Name</th>
              <th scope="col">Profile</th>
              <th scope="col">Medical Speciality</th>
              <th colspan="1"> </th>
            </tr>
            <% if @doctors.present? %>
              <% @doctors.each do |doctor| %>
                <tr>
                  <td><%= doctor.name %></td>
                  <td><%= image_tag doctor.profile_image.url,style: 'height:10vw;width:10vw;', class: "rounded-circle "if doctor.profile_image?%></td>
                  <td><%= doctor.medical_speciality%></td>
                  <td><%= link_to 'To Appoinment', new_appoinment_path(doctor_id: doctor.id),class: "text-decoration-none" %></td>
                <tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="4">Data is not available</td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>  
</div>	
